body {
    font: 400 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    color: #37352f;
    background-color: #ffffff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure {
    margin-bottom: 25px;
}

.main {
    display: block;
    flex: 1 0 auto;
    padding: 0 0;
    margin: 0 auto;
}

p, pre, ul, ol {
    margin: 1.25rem;
}

span.emph {
    font-weight: bold;
}

path.country:hover {
    cursor: pointer;
}